* {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
     display: flexbox;
}

root {
     --colorPlaceholder: #C5FC6B;
     --colorHover: green;
     --contColorResponsive: #1B1C1E;
     --colorIconos: #C5FC6B;
     --lineaDiv: silver;
     --txtColor: white;
     --color: #0D0E0F;
     color: #131415;
     color: #f8efc4;
     color: #e4b987;
     color: #c8825b;


}



body {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     box-shadow: 0 0 80px rgba(1, 1, 1, 0.9);
     width: 950px;
     height: 140vh;
     top: 100px;
     left: 190px;
     border-radius: 10%;
     padding: 20px 20px 0;
     position: relative;
     border: 10px solid rgba(31, 86, 77, 0.6);
     border-color: black;
}



header {
     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     height: 25vh;
     border-radius: 10px;
     width: 95%;
     border: 5px solid black;

}

.contHeader {
     width: 80%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 2rem;
     box-shadow: 0 0 40px rgba(1, 1, 1, 0.9);
     color: #A8EB12;
     border-radius: 10px;

}

.h1Disponible {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     color: #A8EB12;
     text-shadow: 1px 1px #0D0E0F;

}


.hero {
     position: absolute;
     justify-content: center;
     align-items: center;
     height: 100vh;
     width: 90%;
}

.contHero {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     width: 100%;
     height: 100vh;
     border: 5px solid black;
     border-radius: 10px;
}

.contBilletera {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border: none;
     width: 100%;

}

.contBilletera h2 {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     font-size: 3rem;
     color: #A8EB12;
}

.onOff .bi-toggle-off {
     position: sticky;
     background-color: black;
     font-size: 40px;
     color: #A8EB12;
     transition: 0.5s;
     margin-right: 700px;

}

.light {
     font-size: 2rem;
     color: red;
     transition: 0.5s;

}

.light:hover {
     transform: scale(1.5);


}

.dark {
     font-size: 2rem;
     color: #C5FC6B;
     transition: 0.5s;
}

.dark:hover {
     transform: scale(1.5);

}



.contFormu {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     margin-top: 1rem;
     width: 80%;
     height: 50%;

     border: 5px solid black;

}

.contDinero {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     border: 5px solid black;
     border-radius: 10px;

}

.inputDinero {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     width: 80%;
     height: 4rem;
     border-radius: 20px;
     border: 2px solid black;
     color: #A8EB12;
     text-align: center;
     font-size: 1.5rem;
     top: 10px;


}


input[type=number] {
     margin: 0;
}

.contGastoyMonto {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     border: 5px solid black;
     border-radius: 10px;
     position: absolute;
     margin-top: 5rem;
     display: flex;
     justify-content: space-evenly;
     align-items: center;


}

.inputGasto {
     width: 40%;
     height: 4rem;
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     border-radius: 10px;
     border: 2px solid black;
     color: #A8EB12;
     text-align: center;
     font-size: 1.5rem;

}

.inputMonto {
     width: 40%;
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     border-radius: 10px;
     border: 2px solid black;
     color: #A8EB12;
     text-align: center;
     font-size: 1.5rem;

}

.bi-plus-square {
     font-size: 50px;
     color: #A8EB12;
     transition: 0.5s;
}

.bi-plus-square:hover {
     color: red;
     transform: scale(1.5) rotate(360deg);

}


.bi-currency-dollar {
     font-size: 50px;
     color: #A8EB12;
     transition: 0.5s;
}

.bi-currency-dollar:hover {
     color: red;
     transform: scale(1.5);
}

.bi-trash {
     width: 10%;
     font-size: 50px;
     color: #A8EB12;
     cursor: pointer;
}

.bi-trash:hover {
     color: red;
     transform: scale(1.5);
}



::placeholder {
     padding-left: 0px;

}


.contGastosRealizados {
     background-color: transparent;
     color: #A8EB12;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;

}

.divGastos {
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     border: 5px solid black;
     padding: 0.5rem;
     border-radius: 10px;
     width: 80%;
     height: 50%;
     display: flex;
     flex-direction: column;
     margin-top: 0.1rem
}

.divGastos::-webkit-scrollbar {
     display: none;
}

.contGastosRealizados h2 {

     font-size: 2rem;
}

.gasto {
     width: 100%;
     height: 15%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid;
     color: #A8EB12;
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     flex-basis: 70%;
}



.footResponsive {
     display: none;
}

@media(max-width:1025px) {


     header {
          border-radius: 20px;
          margin: 0.5rem;
          position: sticky;
          top: 0px;
     }

     .contHeader {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          border-radius: 20px;

     }

     .contDisponible {
          text-align: center;
     }

     .contGastosRealizados {
          background-color: transparent;

     }

     .divGastos {
          width: 90%;


     }

     .contFormu {
          display: flex;
     }


}

.contGastoyMonto {
     margin-top: 10%;
}

.gasto {
     color: #A8EB12;
     display: flex;
     justify-content: space-evenly;
     background-color: white;
     border: 0px solid;
     border-radius: 10px;
     height: 30%;
     padding-top: 3%;
     padding-bottom: 3%;
     margin-top: 1%;
     margin-bottom: 1%;





}

.contGastos {
     display: none;
}

.contIngreso {
     display: none;
}



.contHero {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.contBilletera {
     margin-top: 0.5rem;
     width: 95%;
     height: 50vh;
     border-radius: 20px;
     background-color: transparent;

}

.contGastosRealizados {
     margin-top: 1rem;
     width: 95%;
     height: 60vh;
     border-radius: 20px;

}

.inputDinero {
     height: 2rem;
     padding-top: 1rem;
     padding-bottom: 1rem;
}

.inputGasto {
     height: 2rem;
     padding-top: 1rem;
     padding-bottom: 1rem;

}

.inputMonto {
     height: 2rem;
     padding-top: 1rem;
     padding-bottom: 1rem;

}

.iconoAgregar {
     pointer-events: none;
}

.iconoDinero {
     pointer-events: none;
}

.footResponsive {

     display: flex;
     justify-content: center;
     align-items: center;
     background: linear-gradient(rgba(36, 139, 156, 0.9), black);
     color: #A8EB12;
     border-radius: 20px;
     position: sticky;
     top: 0px;
     margin: -700px;
}

.contFoot {
     display: flex;
     justify-content: space-evenly;
     width: 90vw;
}


@media(max-width:1025px) and (orientation:landscape) {
     header {
          border-radius: 20px;
          margin: 0.5rem;
     }

     .contHeader {
          display: flex;
          flex-direction: row-reverse;
          justify-content: center;
          align-items: center;
          border-radius: 20px;

     }

     .contDisponible {
          width: 40vw;
          text-align: center;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
     }

     .contGastos {
          display: none;
     }

     .contIngreso {
          display: none;
     }

     .contHero {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .contBilletera {
          margin-top: 0.5rem;
          width: 95%;
          height: 70vh;
          border-radius: 20px;
          display: flex;

     }

     .contGastoyMonto {
          margin-top: 1rem;
          overflow-y: scroll;
     }

     .contFormu {
          display: flex;
          justify-content: center;
     }

     .contGastosRealizados {
          margin-top: 1rem;
          width: 95%;
          height: 60vh;
          border-radius: 20px;


     }

     .inputDinero {
          height: 0.4rem;
     }

     .inputGasto {
          margin-top: 0.2rem;
          margin-bottom: 0.2rem;
          height: 0.4rem;
     }

     .inputMonto {
          margin-top: 0.2rem;
          margin-bottom: 0.2rem;
          height: 0.4rem;
     }

     .onOff {
          display: flex;
          height: 0.5%;

     }

     .iconoAgregar {
          pointer-events: none;
     }

     .iconoDinero {
          pointer-events: none;
     }

}